*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'EB Garamond',sans-serif;
}
.main{
    background-color: #ffffff;
}


nav{
    width: 100%;
    position:sticky;
    top:0;
    left: 0;
    padding: 15px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37517E;
    z-index: 1;
}
nav ul{
    display: inline-flex;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 35px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

nav .logo{
    width: 50px;
    border-radius: 50px;
}

#home{
    width: 100%;
    height: 80vh;
    /* padding: 0 5%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#37517E;
    background-size: cover;
}
#dp{
    
    width:650px;
    /* margin-right: -500px; */
    /* margin-bottom: -120px; */
    border-radius: 0px 30px 0px 0px;
}
.content{
    text-align: center;
}

.content .box {
    /* position: relative; */
    max-width:550px;
    height: 200px;
    padding: 10px;
    color: #002366;
    /* margin-left: -580px;
    margin-top: -220px; */
    
}
.box #h1{
    font-size: 50px;
    color: #fff;
    font-family:'DM Serif Display', sans-serif;
}
.box span{
    font-size: 24px;
    color: #fff;
    padding:0px 0px 10px 0px;
    font-family:'DM Serif Display', sans-serif;
}
.box p{
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    
}

.feature{
    width: 100%;
    height:65vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #f8f9fa;
}
.feature .head{
    font-size: 50px;
    /* margin-top: -380px; */
    padding: 20px 20px 20px 20px;
    color: #37517E;
    font-family:'DM Serif Display', sans-serif;
}

.container{
    text-align:left;
    display: inline-flex;
    gap:120px;
    
}
.container-1{
    
    width: 500px;
}
#user{
    width: 100%;
    height: 80vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 250px 0px 250px;
    background-color: white;
}
#user .head{
    font-size: 50px;
    margin-top: 20px;
    padding: 0px 0px 40px 0px;
    color: #37517E;
    font-family:'DM Serif Display', sans-serif;
}
#dp1{
    width:300px;
    height: 350px;
}

.out{
    display: flex;
    gap: 150px;
}

#user li a{
    font-size: 23px;
    text-decoration: none;
    color: #000000;
    /* margin-right: -100px; */
}
#more{
    width: 100%;
    height: 75vh; 
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
#more .contain{
    text-align: center;
    display: inline-flex;
}
#more .head-1{
    font-size: 50px;
    margin-top: -200px;
    padding: 0px 0px 20px 0px;
    color: #37517E;
    font-family:'DM Serif Display', sans-serif;
    justify-content: center;
}
#more .contain .box2 {
   padding: 15px;
   margin:6px;
   color: rgb(0, 0, 0);
   border-radius: 50px;
   margin-bottom: -180px;
   cursor: pointer;
   transition: transform 0.5s;
}

#more .contain .box2 img{
   height: 260px;
   width:260px;
   display: inline-block;
   transition: transform 0.5s;
   
}
.box2:hover{
    transform: translateY(-10px);
}

footer{
    width: 100%;
    /* height: 45vh; */
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.wrapper-1{
    /* width:1140px; */
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.footer-center{
    width: 800px;
    text-align: center;
}
.footer-center h3{
    padding-top:30px ;
    font-size: 28px;
    margin-bottom: 15px;
    color: #000000;
}
.footer-center p{
    color: #000000;
    font-size: 18px;
    margin-left:-50px;
    padding: 7px;
    text-align: left;
    
}
.footer-center1 h3{
    padding-top:30px ;
    font-size: 28px;
    margin-bottom: 15px;
    color: #000000;
    text-align: center;
}
.footer-center1 p{
    color: #000000;
    font-size: 18px;
    width: 190px;
    margin: auto;
    padding: 7px;
    background-color: aquamarine;
}
.footer-center ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    font-size: 18px;
    color: #002366;
}
.list li::before{
    content: '';
    /* position: absolute; */
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #1034a6;
    transition-duration: 0.5s;
}
.list li:hover::before{
    width: 70px;
}

@media screen and (max-width: 800px){
    #dp{
        display: none;
    }
    nav > ul{
        overflow: scroll;
    }
    .feature{
        display: flex;
        height: fit-content;

    }
    /* #fea1img, #fea2img{
       
    } */

    .container{
        gap:20px;
        flex-direction: column;
    }
    .out{
        height: fit-content;
        flex-direction: column;
        gap: 30px;
    }

    .wrapper{
        flex-direction: column;
        gap: 20px;
    }

    .box3-1 img {
        height: 250px;
        width: auto;
    }
     .footer-center{
        display: none;
    }
}
 .bottom-bar{
    background-color: #37517E;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
    color: white;
 }