@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px;
  min-height: 100vh;
}
.switch-btn{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.footer{
  position: fixed;
  bottom: 0;
}

button.save-animation {
  animation: saveAnimation 450ms ease forwards;
}

button.save-animation{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-top-color: rgb(223, 230, 236);
  border-bottom-color: rgb(221, 227, 233);
  animation: spinner 0.8s ease infinite;
}

@keyframes saveAnimation {
  0% { width: 200px; }
  100% { width: 0px; background: #fff;}
}

@keyframes spinner {
 to { transform: rotate(360deg); }
}